:root {
  --black: #000000;
  --blue: #0000aa;
  --green: #00aa00;
  --red: #aa0000;
  --gray: #aaaaaa;
  --sky: #55ffff;
  --yellow: #ffff55;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  background: var(--black);
  color: var(--gray);
  font-family: ui-monospace, "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 16px;
  line-height: 1.25;
}

pre {
  margin: 0;
  font: inherit;
  white-space: pre;
}

a {
  color: unset;
  text-decoration: unset;
  display: block;
}

[hidden] {
  display: none;
}

/* Sections */

#screen {
  width: 80ch;
  margin: 0 auto;
}

#screen > * {
  margin-top: 1.5em;
}

#download-box {
  white-space: pre;
}

.button {
  background: var(--blue);
  color: var(--gray);
  cursor: pointer;
  outline: none;
}

.button:hover,
.button.hot {
  color: var(--white);
}

/* Text */

b {
  font-weight: inherit;
}

.y {
  color: var(--yellow);
}

.c {
  color: var(--sky);
}

.w {
  color: var(--white);
}

.ok {
  background: var(--green);
  color: var(--black);
}

.err {
  background: var(--red);
  color: var(--white);
}
